.put_vertically{
    display: flex;
    flex-flow: column;
}

.delete_button{
    width: 20%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.input{
    width: 15%;
    margin-bottom: 1%;

}

.submit_button{
   width: 5%;
   margin-bottom: 3%;

    
}

.add_question{
    width: 5%;
}