body{
margin: 0 auto 0;
background-color: rgb(239, 240, 243);

}


.header{
background: white;
width: 100%;
height: 7%;
position: absolute;
display: inline;

}

.img{
position:absolute;
left: 0.2%;
top: 10%;
width: 15%;
height:100%;
text-align: center;
}

.posse-img{
 width: 80%;
height: 70%;
}

.weeks{
position: absolute;

left: 15%;
top: 20%;
height: 40%;
text-align: center;


}

.week{
 
  display: inline;
  color: rgb(138, 168, 196);
  font-size: 85%;


}

/* ---------------------------------ボタン------------------------------- */

.r-p-button{
position: relative;
top: 9%;
left: 58%;
outline: 0;
border-radius:20px;

padding-left: 3%;
padding-right: 3%;
width:40%;
height: 80%;




/* 色付け */
background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
opacity: 0.5;
animation: huerotator 3s infinite alternate;
}
 
 @keyframes huerotator {
   0% {
     -webkit-filter: hue-rotate(0deg);
     filter: hue-rotate(0deg);
   }
 
   100% {
     -webkit-filter: hue-rotate(360deg);
     filter: hue-rotate(360deg);
   }

}

.r-p-button-divided{
  position: absolute;
  right: 3%;
  top: 0.5%;
  width: 30%;
  height: 6%;
}

.r-p-button-phone-box{display:none;}
.r-p-button-phone{display: none;}



/* ---------------------------------右側のカード------------------------------- */


.three-card{
display: inline-flex;
position: absolute;
top: 10%;
width: 50%;
left: 0.2%;
}


.card-one{
background-color: white;
border: none;
box-shadow: rgb(214, 211, 211) 2px 2px;
border-radius: 5%;
display: inline-block;
text-align: center;
margin: 1%;
width: 40%;
}

.card-two{
background-color: white;
border: none ;
box-shadow: rgb(214, 211, 211) 2px 2px;
border-radius: 5%;
display: inline-block;
text-align: center;
margin: 1%;
width: 40%;
  }

.card-three{
background-color: white;
border: none;
box-shadow: rgb(214, 211, 211) 2px 2px;
border-radius: 5%;
display: inline-block;
text-align: center;
margin: 1%;
width: 40%;
    }

.status{
font-size: 130%;
color: rgb(62, 150, 184);
font-weight: bold ;
}

.figure-today{
font-size: 200%;
font-weight: bold;
position: relative;
}


.figure-month{
font-size: 200%;
font-weight: bold;
position: relative;
  }

.figure-total{
font-size: 200%;
font-weight: bold;
position: relative;
    }



.hours{
position: relative;
font-size: 23px;
color: #697b91;
}

.graph{
position: absolute;
left: 1%;
bottom: 13%;
display: inline-block;
border:none ;
border-radius: 5%;
width: 49%;
height: 54%;
background-color: white;
box-shadow: rgb(214, 211, 211) 2px 2px;
}



.under-year-box{
position: absolute;
bottom: 6%;
left: 44%;

}

.under-year{
position: relative;
width: 100%;
font-size: 106%;
font-weight: bolder;
border: none;
outline: 0;
}

.arrow-one{
  position: absolute;
  width: 0.7%;
  height: 1.4%;
  left: 52.6%;
  bottom: 7.1%;
  border-top: 1px solid rgb(14, 124, 158);
  border-right: 1px solid rgb(14, 124, 158);
  border-width: medium;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.arrow-two{
  position: absolute;
  width: 0.7%;
  height: 1.4%;
  left: 41.5%;
  bottom: 7%;
  border-top: 1px solid rgb(14, 124, 158);
  border-right: 1px solid rgb(14, 124, 158);
  border-width: medium;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
}





/* ---------------------------------右側------------------------------- */



.graph-two{
position: absolute;
right: 25%;
top:10%;
border:none;
border-radius: 5%;
width: 24%;
height: 77%;
background-color: white;
box-shadow: rgb(214, 211, 211) 2px 2px;
  }


.graph-three{

position: absolute;
right: 0.4%;
top:10%;
border:none ;
border-radius: 5%;
width: 24%;
height: 77%;
background-color: white;
box-shadow: rgb(214, 211, 211) 2px 2px;
    }
  
.doughnut{
  position: absolute;
  bottom: 30%;
  
}

.barchart{
 position: absolute;
top: 10%;

}
/* ---------------------------------モーダル1------------------------------- */


.modal {
display: none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0,0,0,0.5);

  }
  
.modal-content{
position: fixed;
background-color: white;
width: 77%;
height: 85%;
margin-top: 6%;
margin-left:10%;
bottom: 5%;
border-radius: 5%;
box-shadow: rgb(214, 211, 211) 2px 2px 2px 2px;
}




.close-button-design{
  border-radius: 15px;
  border: none;
  font-size: 170%;
  opacity: 50%;
  
  width: 122%;
  }
  
  .close-button-map{
  position:absolute;
  top: 4%;
  right: 2.2%;
  
  }

 /* ---------------------------------モーダル1文章 左------------------------------- */


 .day-I-studied{
  position: absolute;
  top: 5%;
  left: 7%;
  }

  .input-day-box{
  position: absolute;
  top: 13%;
  left: 6.8%;
  

 
  }
  .input-day{
  position: relative;
  background-color: rgb(239, 240, 243);
  border: none;
  border-radius: 15px;
  padding: 3%;
  text-align: center;
  font-size: 170%;
  font-weight: lighter;

  }

  
  
  .contents-studied{
  position: absolute;
  top: 24%;
  left:7%
  
  }
  
  .language-studied{
  position: absolute;
  top: 48%;
  left:7%
  
  }

  /* ---------------------------------モーダルチェックボックス・右-------------------------------  */
.N-yobi-box{
position:absolute;
background-color: rgb(239, 240, 243);
border-radius: 15px;
padding-right: 2%;
padding-left: 1%;
padding-top: 0.2%;
padding-bottom: 0.2%;
top: 32%;
left: 7%;
}

.dot-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 32%;
  left: 19%;
}

.posse-work-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 38%;
  left: 7%;
}

.html-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 56%;
  left: 7%;
}

.CSS-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 56%;
  left: 17%;
}

.JS-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 56%;
  left: 26%;
}

.PHP-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 62%;
  left: 7%;
}

.Laravel-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 62%;
  left:16%;
}

.SQL-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 62%;
  left:27%;
}

.SHELL-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 62%;
  left:36%;
}

.other-box{
  position:absolute;
  background-color: rgb(239, 240, 243);
  border-radius: 15px;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 69%;
  left:7%;
}

.autotweet-box{
  position:absolute;
  padding-right: 2%;
  padding-left: 1%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  top: 82%;
  right: 27%;
  
}

.check-box-design{
	position:relative;
}

.autotweet-design{
position: relative;

}




/* ---------------------------------モーダル1文章 右------------------------------- */

/* 　　学習時間 */
  .input-time-box{
    position: absolute;
    top: 13%;
    right: 9%;
    
    }
    .input-time{
    position: relative;
    background-color: rgb(239, 240, 243);
    border: none;
    border-radius: 15px;
    padding: 3%;
    text-align: center;
    font-size: 170%;
    font-weight: lighter;
    }  

    .time-studied{
    position: absolute;
    right: 41%;
    top: 5.3%;
    }



/* twitter用コメント */
    
    .input-comment-box{
      position: absolute;
      right: 8.7%;
      top: 32%;


    }
    .commentfortwitter{
      position: absolute;
      right: 34.3%;
      top: 24%;
      


    }
    .input-comment{
      position: relative;
      background-color: rgb(239, 240, 243);
      border: none;
      border-radius: 15px;
      padding: 3%;
      text-align: center;
      font-size: 100%;
      font-weight: lighter;
      
    
    }
  

/* ---------------------------------モーダル2------------------------------- */


.modal-two {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  
    }
    
  .modal-content-two{
  position: fixed;
  background-color:white;
  width: 77%;
  height: 85%;
  margin-top: 6%;
  margin-left:10%;
  bottom: 5%;
  border-radius: 5%;
  box-shadow: rgb(214, 211, 211) 2px 2px 2px 2px;
  }
  
  .modal-body-two{
  display: inline-flex;
  
  }


/* ----------------------------------モーダルの投稿ボタン----------------------------- */

.r-p-button-two{
outline: 0;
position: absolute;
bottom: 4%;
left: 34%;
border-radius:25px;
padding-top: 1%;
padding-bottom: 1%;
padding-left: 15%;
padding-right: 15%;
  
  
  
/* 色付け */
background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
opacity: 0.5;
animation: huerotator 3s infinite alternate;
  }
   
  @keyframes huerotator {
     0% {
       -webkit-filter: hue-rotate(0deg);
       filter: hue-rotate(0deg);
     }
   
     100% {
       -webkit-filter: hue-rotate(360deg);
       filter: hue-rotate(360deg);
     }
  
  }




/* .close-button-design{
border-radius: 15px;
border: none;
font-size: 170%;
opacity: 50%;

width: 122%;
}

.close-button-map{
position:absolute;
top: 4%;
right: 2.2%;

} */


  /* ---------------------------------モーダル2文章------------------------------- */


.record-completed{
  position: absolute;
  left: 29.7%;
  top: 30%;
  width: 40%;
  height: 40%;
  text-align: center;
  font-size: 400%;
}


/* ---------------------------------モーダル3（カレンダー）------------------------------- */

.modal-three {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  
    }
    
  .modal-content-three{
  position: fixed;
  background-color:white;
  width: 40%;
  height: 85%;
  margin-top: 6%;
  margin-left:28%;
  bottom: 5%;
  border-radius: 5%;
  box-shadow: rgb(214, 211, 211) 2px 2px 2px 2px;
  }
  
.modal-body-three{
display: inline-flex;
text-align: center;
margin-bottom: 10%;
margin-top: 7%;
  }

.calender-box{
  position: absolute;


}

.calender{
  position: relative;
  left: 60%;
}

h1 {
  font-size: 100%;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  
}

td {
  border: 1% solid #ddd;
  padding-bottom: 4%;
  padding-left: 1%;
  text-align: center;
  font-size: 150%;
  
}

td:first-child {
  color: red;
  
  
}

td:last-child {
  color: royalblue;
  
  
}















 /* ---------------------------------レスポンシブデザイン------------------------------- */

 @media screen and (max-width:768px){
  
  .header{
    background: white;
    width: 100%;
    height: 5%;
    position: absolute;
    display: inline;
    
    }
    

  .img{
    position:absolute;
    left: 0.6%;
    top: 19%;
    width: 30%;
    height:78%;
    text-align: center;
    }

  .weeks{
    position: absolute;
    left: 33%;
    top: 14%;
    height: 50%;
    text-align: center;
      }
      
  .week{
  
    display: inline;
    color: rgb(138, 168, 196);
    font-size: 85%;


      }

  .under-year{
    position: absolute;
    bottom: 9%;
    left: 40%;
        
        
        }
        
  
        
  .r-p-button{
    display: none;
}
  
  .r-p-button-phone-box{
    position:absolute;
    bottom: 2%;
    margin-left: 2.6%;
    width: 95%;
    height: 6%;
    display: inline;
  
  }
  
  .r-p-button-phone{
    display: inline;
    position: relative;
    outline: 0;
    border-radius:20px;
    padding: 1%;
    height: 100%;
    width:100%;
    font-size: 120%;
    color: white;
  
    
    /* 色付け */
    background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
    opacity: 0.5;
    animation: huerotator 3s infinite alternate;
    }
     
     @keyframes huerotator {
       0% {
         -webkit-filter: hue-rotate(0deg);
         filter: hue-rotate(0deg);
       }
     
       100% {
         -webkit-filter: hue-rotate(360deg);
         filter: hue-rotate(360deg);
       }
    
    }



.three-card{
  display: inline-flex;
  position: absolute;
  top: 6%;
  width: 94%;
  height: 17%;
  left: 5.5%;
  }
  
  
  .card-one{
  background-color: white;
  border: none;
  box-shadow: rgb(214, 211, 211) 2px 2px;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  width: 28%;
  height: 95%;
  }
  
  .card-two{
  background-color: white;
  border: none ;
  box-shadow: rgb(214, 211, 211) 2px 2px;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  margin-left: 3%;
  margin-right: 3%;
  width: 28%;
  height: 95%;
    }
  
  .card-three{
  background-color: white;
  border: none;
  box-shadow: rgb(214, 211, 211) 2px 2px;
  border-radius: 5%;
  display: inline-block;
  text-align: center;
  margin: 1%;
  width: 28%;
  height: 95%;
      }
  
  .status{
  font-size: 100%;
  color: rgb(62, 150, 184);
  font-weight: bold ;
  }

  .hours{
  position: relative;
  font-size: 23px;
  color: #697b91;
  font-size: 90%;
  }

  .figure-today{
  font-size: 180%;
  font-weight: bold;
  position: relative;
  
  }
  
  

  .figure-month{
  font-size: 180%;
  font-weight: bold;
  position: relative;
    }
  
  .figure-total{
  font-size: 180%;
  font-weight: bold;
  position: relative;
      }
  
  .graph{
    position: absolute;
    left: 5.7%;
    bottom: 55%;
    display: inline-block;
    border:none ;
    border-radius: 5%;
    width: 88%;
    height: 20%;
    background-color: white;
    box-shadow: rgb(214, 211, 211) 2px 2px;
    }

    .graph-two{
      position: absolute;
      left: 5%;
      top: 46%;
      border:none ;
      border-radius: 5%;
      width: 43%;
      height: 40%;
      background-color: white;
      box-shadow: rgb(214, 211, 211) 2px 2px;
          }

    .graph-three{
      display: inline;
      position: absolute;
      right: 6%;
      top: 46%;
      border:none ;
      border-radius: 5%;
      width: 43%;
      height: 40%;
      background-color: white;
      box-shadow: rgb(214, 211, 211) 2px 2px;
        }
        
      /* --------------------------------携帯モーダル--------------------------------------------- */
        
        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          overflow: auto;
          background-color: rgba(0,0,0,0.5);
          
            }
            
          .modal-content{
          position: fixed;
          background-color: white;
          right: 1%;
          width: 100%;
          height: 95%;
          bottom: 0;
          border-radius: 5%;
          box-shadow: rgb(214, 211, 211) 2px 2px 2px 2px;
          }
          
          .modal-body{
          display: inline-flex;
          }
          
          .close-button-design{
            border-radius: 15px;
            border: none;
            font-size: 170%;
            opacity: 50%;
            
            width: 122%;
            }
            
            .close-button-map{
            position:absolute;
            top: 4%;
            right: 2.2%;
            
            }
          
           /* ---------------------------------携帯モーダル1文章 左------------------------------- */
          
          
           .day-I-studied{
            position: absolute;
            top: 4%;
            left: 7%;
            font-size: 80%;
            }
          
            .input-day-box{
            position: absolute;
            top: 13%;
            left: 6.8%;
            
            }
            .input-day{
            position: relative;
            background-color: rgb(239, 240, 243);
            border: none;
            border-radius: 15px;
            padding: 3%;
            text-align: center;
            font-size: 170%;
            font-weight: lighter;
          
            }
          
            
            
            .contents-studied{
            position: absolute;
            top: 24%;
            left:7%
            
            }
            
            .language-studied{
            position: absolute;
            top: 48%;
            left:7%
            
            }
          
          /* チェックボックス・学習コンテンツ */
          .check-box{
            position: absolute;
           
          
          }
          
          .checking{
            position: relative;
          }
          
          
          
          /* ---------------------------------携帯モーダル1文章 右------------------------------- */
          
          /* 　　学習時間 */
            .input-time-box{
              display: none;
              position: absolute;
              top: 13%;
              right: 9%;
              
              }
              .input-time{
                display: none;
              position: relative;
              background-color: rgb(239, 240, 243);
              border: none;
              border-radius: 15px;
              padding: 3%;
              text-align: center;
              font-size: 170%;
              font-weight: lighter;
              }  
          
              .time-studied{
                display: none;
              position: absolute;
              right: 41%;
              top: 5.3%;
              }
          
          
          
          /* twitter用コメント */
              
              .input-comment-box{
                display: none;
                position: absolute;
                right: 8.7%;
                top: 32%;
          
          
              }
              .commentfortwitter{
                display: none;
                position: absolute;
                right: 34.3%;
                top: 24%;
                
          
          
              }
              .input-comment{
                display: none;
                position: relative;
                background-color: rgb(239, 240, 243);
                border: none;
                border-radius: 15px;
                padding: 3%;
                text-align: center;
                font-size: 100%;
                font-weight: lighter;
                
              
              }
            
          
          /* ---------------------------------携帯モーダル2------------------------------- */
          
          
          .modal-two {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
            
              }
              
            .modal-content-two{
            position: fixed;
            background-color:white;
            width: 77%;
            height: 85%;
            margin-top: 6%;
            margin-left:10%;
            bottom: 5%;
            border-radius: 5%;
            box-shadow: rgb(214, 211, 211) 2px 2px 2px 2px;
            }
            
            .modal-body-two{
            display: inline-flex;
            
            }
          
          /* ----------------------------------携帯モーダルの投稿ボタン----------------------------- */
          
          .r-p-button-two{
          outline: 0;
          position: absolute;
          bottom: 4%;
          left: 34%;
          border-radius:25px;
          padding-top: 1%;
          padding-bottom: 1%;
          padding-left: 15%;
          padding-right: 15%;
            
            
            
          /* 色付け */
          background: linear-gradient(to bottom, #a6d900 0%, #ff4454 100%);
          opacity: 0.5;
          animation: huerotator 3s infinite alternate;
            }
             
            @keyframes huerotator {
               0% {
                 -webkit-filter: hue-rotate(0deg);
                 filter: hue-rotate(0deg);
               }
             
               100% {
                 -webkit-filter: hue-rotate(360deg);
                 filter: hue-rotate(360deg);
               }
            
            }
          
          

}


